<article id="turn">
    <h3></h3>
    <table id="map" class="ctrl-combatMap">
    </table>
</article>
<script type="application/javascript">
loadExternalScript("public/combatMap.js");
</script>
<script id="template-combatCell" type="text/html">
<td class="ctrl-combatCell">
    <button>&nbsp;</button>
</td>
</script>
<script type="application/javascript">
(function combatScript() {
    var onMessageReceived, updateMap, template;

    template = document.querySelector("#template-combatCell").innerHTML;

    /**
     * Handles messages received through the web socket.
     */
    onReceiveMessage = function(event) {
        var data;
        data = JSON.parse(event.data);
        if (data["map_update"]) {
            updateMap(data["map_update"]);
        }
    };
    onEvent(window.socket, "message", onReceiveMessage);

    // Get the current state of the map.
    sendHttpRequest("session/" + window.sessionId + "/map", "GET")
    .then(function(response) {
        wait(function() {
            var data;
            if (pageContext.renderMap) {
                data = JSON.parse(response.responseText || null);
                if (data.width) {
                    updateMap(data);
                }
                return true;
            }
            return false;
        });
    })
    .catch(function() {
        debugger;
    });

    /**
     * Renders the map then adds all combatants to the initiative list.
     * @param {object} data data from a GET session/map endpoint.
     */
    updateMap = function(data) {
        var k, i;
        pageContext.renderMap(data, template);
        for (k in data.mobs) {
            for (i = 0; i < data.mobs[k].length; i++) {
                initiativeContext.addMob(data.mobs[k][i]);
            }
        }
    }

    document.body.setAttribute("data-state", "combat");
})();
</script>
