<article id="turn">
    <table id="map" class="ctrl-combatMap">
    </table>
</article>
<script id="template-combatCell" type="text/html">
<td class="ctrl-combatCell">
    <button class="terrain">&nbsp;</button>
</td>
</script>
<script id="template-movementSetup" type="text/html">
    <div class="ctrl-labelledNumber">
        <input type="number" id="npcSpeed-{type}" name="npcSpeed-{type}" placeholder="{default}" />
        <label class="number" for="npcSpeed-{type}">{display}</label>
    </div>
</script>
<script id="template-movementOption" type="text/html">
<div class="ctrl-labelledNumber ctrl-radioBoxButton">
    <input
        id="movementType-{type}"
        type="radio"
        name="movementType"
        value="{type}"
        data-base="{remaining}"
        data-remaining="{remaining}"
        data-used="0"
    />
    <label for="movementType-{type}" name="movementType">{text}</label>
    <span class="value" name="remaining">{remaining}</span>
</div>
</script>
<script id="template-controls" type="text/html">
    <div class="ctrl-speedOptions"></div>
    <div class="ctrl-row">
        <div class="ctrl-column">
            <div class="ctrl-toggle">
                <input if="dashAction" type="checkbox" name="dashAction" />
                <label for="dashAction">DASH</label>
            </div>
            <div class="ctrl-toggle">
                <input id="dashBonus" type="checkbox" name="dashBonus" />
                <label for="dashBonus">BONUS</label>
            </div>
        </div>
        <button class="ctrl-thickButton" name="done">DONE</button>
    </div>
</script>
<script id="template-dmControls" type="text/html">
    <button class="ctrl-flat" name="start">Start</button>
    <button class="ctrl-flat" name="clear">Clear</button>
    <button class="ctrl-flat" name="reset">Quit</button>
    <div class="ctrl-tabSet" id="dmControlTabs" data-tabs="3">
        <input type="radio" name="controlTab" id="turnControlsTab" />
        <label class="hidden" for="turnControlsTab">TURN</label>
        <fieldset class="tabSection" id="turnOptions">
            <legend class="hidden"></legend>
            <div class="ctrl-speedOptions"></div>
            <div class="ctrl-row">
                <div class="ctrl-column">
                    <div class="ctrl-toggle">
                        <input if="dashAction" type="checkbox" name="dashAction" />
                        <label for="dashAction">DASH</label>
                    </div>
                    <div class="ctrl-toggle">
                        <input id="dashBonus" type="checkbox" name="dashBonus" />
                        <label for="dashBonus">BONUS</label>
                    </div>
                </div>
                <button class="ctrl-thickButton" name="done">DONE</button>
            </div>
        </fieldset>

        <input type="radio" name="controlTab" id="mapControlsTab" checked />
        <label for="mapControlsTab">MAP</label>
        <fieldset class="tabSection" id="mapOptions">
            <legend class="hidden"></legend>
            <select id="mapSelector" name="existingMap" class="ctrl-flat"></select>
            <div class="ctrl-coordinate">
                <div class="ctrl-labelledNumber">
                    <input id="mapWidth" type="number" name="mapWidth" value="12" placeholder="width" />
                </div>
                <span>x</span>
                <div class="ctrl-labelledNumber">
                    <input id="mapHeight" type="number" name="mapHeight" value="12" placeholder="height" />
                </div>
            </div>
            <input type="text" name="mapName" class="ctrl-flat" />
            <button class="ctrl-flat" name="updateMap">APPLY</button>
            <button class="ctrl-flat" name="saveMap">SAVE</button>
        </fieldset>

        <input type="radio" name="controlTab" id="mobControlsTab" />
        <label for="mobControlsTab">MOB</label>
        <fieldset class="tabSection" id="mobOptions">
            <legend class="hidden"></legend>
            <div>
                <input class="ctrl-flat" type="text" id="npcName" name="npcName" placeholder="NAME" />
            </div>
            <div class="ctrl-labelledNumber">
                <label for="npcInitiative">INIT</label>
                <input type="number" id="npcInitiative" name="npcInitiative" placeholder="0" />
            </div>
            <label for="npcSize">SIZE</label>
            <select id="npcSize" name="npcSize"></select>
            <div id="npcSpeed"></div>
            <button class="ctrl-flat" name="addNpc">ADD</button>
        </fieldset>

        <input type="radio" name="controlTab" id="terrainControlsTab" />
        <label for="terrainControlsTab">TURF</label>
        <fieldset class="tabSection" id="terrainOptions">
            <legend class="hidden"></legend>
            <div class="ctrl-coordinate">
                <div class="ctrl-labelledNumber">
                    <input type="number" id="terrainWidth" name="terrainWidth" value="1" />
                </div>
                <span>x</span>
                <div class="ctrl-labelledNumber">
                    <input type="number" id="terrainLength" name="terrainLength" value="1" />
                </div>
            </div>
            <input id="isDifficult" type="checkbox" name="isDifficult" /><label for="isDifficult">Difficult</label>
            <ul class="ctrl-radioButtonList" name="terrainTypes"></ul>

        </fieldset>
    </div>
</script>
<script id="template-terrainType" type="text/html">
    <li>
        <input type="radio" id="terrainType-{type}" name="terrainType" value="{type}" />
        <label class="{type}" for="terrainType-{type}"></label>
        <label for="terrainType-{type}">{text}</label>
    </li>
</script>
<script id="template-reactionAlert" type="text/html">
    <h1>{message}</h1>
</script>
<script type="application/javascript">
function combatScript(main, dmControls) {
    if (dmControls && dmControls.onSetupStart) {
        dmControls.onSetupStart();
    } else {
        onEvent(window.socket, "message", main.onMessageReceived);
        main.onPlayStart();
    }
};

runAsync([
    loadExternalScript("main", "public/combat.js"),
    document.body.hasAttribute("data-isDM") ? loadExternalScript("dmControls", "public/dmControls.js") : Promise.resolve()
], true).then(combatScript);
</script>
