<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="public/styles.css" type="text/css" />
        <script src="public/client.js" type="application/javascript"></script>
        {{{bootstrap}}}
    </head>
    <body data-state="lobby">
        <article id="main">{{{content}}}</article>
        <aside>
            <menu id="social">{{{social}}}</menu>
            <menu id="controls">{{{controls}}}</menu>
        </aside>
    </body>
</html>

        
