<nav>
    <button name="reset">Back to Start</button>
</nav>
<h2>You are god. Hooray.</h2>
<fieldset>
    <label>Your Name</label><input type="text" name="playerName" />
    <button name="submit">Next</button>
</fieldset>
<script type="application/javascript">
document.body.setAttribute("data-state", "setup");
onEvent(document.querySelector("button[name='submit']"), "click", function() {
    sendHttpRequest("session/" + window.sessionId + "/player", "PUT", {
        player_name : document.querySelector("input[name='playerName']").value,
        is_dm: true
    });    
});

onEvent(document.querySelector("button[name='reset']"), "click", function() {
    if (window.sessionId) {
        sendHttpRequest("session/" + window.sessionId, "DELETE")
        .then(function(res) {
            replaceBody("home", document.documentElement);
        })
    .   catch(function(res) {
            console.error(res.status, res.responseText);
        });
    } else {
        replaceBody("home", document.documentElement);    
    }
});
</script>
