<h1>Welcome</h1>
<label>Your Name</label><input type="text" name="playerName" />
<fieldset id="dmOptions">
    <legend>DM the game</legend>
    <div class="hidden">DM Already Set</div>
    <button name="start" data-player_type="dm" disabled>Start</button>
</fieldset>
<fieldset id="playerOptions">
    <legend>OR Set up your character</legend>
    <label>Character's Name</label><input type="text" name="characterName" />
    <div class="ctrl-colourOption">
        <label>Colour</label>
        <input type="radio" id="red" value="FF0000" name="colour" checked />
        <label for="red">&nbsp;</label>

        <input type="radio" id="green" value="00FF00" name="colour" />
        <label for="green">&nbsp;</label>

        <input type="radio" id="blue" value="0000FF" name="colour" />
        <label for="blue">&nbsp;</label>

        <input type="radio" id="black" value="000000" name="colour" />
        <label for="black">&nbsp;</label>

        <input type="radio" id="cyan" value="00FFFF" name="colour" />
        <label for="cyan">&nbsp;</label>

        <input type="radio" id="magenta" value="FF00FF" name="colour" />
        <label for="magenta">&nbsp;</label>

        <input type="radio" id="yellow" value="FFFF00" name="colour" />
        <label for="yellow">&nbsp;</label>                                        
        <input type="text" name="colour" />
    </div>
    <button name="start" data-player_type="player" disabled>Start</button>
</fieldset>
<fieldset>
   <button name="start" data-player_type="spectator">Spectate</button>
</fieldset>
<script type="application/javascript">
(function indexScript() {
    var onClickStart, onMessageReceived, onChangeInput,
        hideDmButton, buttons, inputs, i;
        
    document.body.setAttribute("data-state", "lobby");        
        
    hideDmButton = function() {
        el = document.querySelector("#dmOptions > button[name='start']");
        el.classList.add("hidden");

        el.parentNode.querySelector("div.hidden")
        .classList.remove("hidden");
        window.socket.removeEventListener("message", onMessageReceived);
    };

    sendHttpRequest("session", "GET")
    .then(function(result) {
        var data = JSON.parse(result.responseText);
        if (data.is_dm_set) {
            hideDmButton();
        }
    });
    
    /**
     * Enables start buttons as criteria are met
     */
    onChangeInput = function(event) {
        var dmButton, playerButton;
        dmButton = document.querySelector("button[name='start'][data-player_type='dm']");
        playerButton = document.querySelector("button[name='start'][data-player_type='player']");
        if (document.querySelector("input[name='playerName']").value) {
             dmButton.removeAttribute("disabled");
             dmButton.disabled = false;
             
             playerButton.removeAttribute("disabled");
             playerButton.disabled = !(document.querySelector("input[name='characterName']").value);
        } else {
            dmButton.disabled = true;
            playerButton.disabled = true;
        
        }
    };
    
    /**
     * Calls server to set up a session and a player.
     */
    onClickStart = function(event) {
        var body, result;
        body = { 
            player_name : document.querySelector("input[name='playerName']").value || "Captain Mystery",
            player_type : event.currentTarget.getAttribute("data-player_type")
        };

        if (body.player_type === "player") {
            body.character_name = document.querySelector("input[name='characterName']").value;
            body.colour = document.querySelector("input[type='text'][name='colour']").value ||
                document.querySelector("input[name='colour']:checked").value;            
        }

        if (window.sessionId) {
            result = sendHttpRequest("session/" + window.sessionId + "/player", "PUT", body);
        } else {
            result = sendHttpRequest("session", "POST")
            .then(function(result) {
                var data = JSON.parse(result.responseText || null);
                return sendHttpRequest("session/" + data.session_id + "/player", "PUT", body);        
            })
        }

        result.then(function() {
            if (body.player_type === "dm") {
                return replaceBody("dm_console");
            } else {
                return replaceBody("play");
            }
        })
        .catch(function() {
            debugger;
            console.error();
        });        
    };

    /**
     * Prevents more than one DM from signing up.
     */
    onMessageReceived = function(event) {
        var data, el;
        data = JSON.parse(event.data);
        if (data["dm_add"]) {
            hideDmButton();
        }
    };
    
    inputs = document.querySelectorAll("input");
    for (i = 0; i < inputs.length; i++) {
        onEvent(inputs[i], "change", onChangeInput);
    }

    buttons = document.querySelectorAll("button[name='start']");
    for (i = 0; i < buttons.length; i++) {
        onEvent(buttons[i], "click", onClickStart);
    }    
    onEvent(window.socket, "message", onMessageReceived);
})();
</script>
