<script id="template-movementType" type="text/html">
    <div class="ctrl-labelledNumber">
        <input type="number" name="{type}" value="{value}" />
        <label>{display}</label>
    </div>
</script>

<h1>Welcome</h1>
<input class="ctrl-textBox" type="text" name="characterName" placeholder="ENTER NAME" />
<fieldset class="form" id="dmOptions">
    <legend>DM the game</legend>
    <div class="hidden">DM Already Set</div>
    <button class="ctrl-thickButton" name="start" data-player_type="dm" disabled>GO</button>
</fieldset>
<fieldset class="form" id="playerOptions">
    <legend>OR set up your character</legend>
    <!-- We don't care about player vs character name right now.  Just let players play.
    <div>
        <input class="ctrl-textBox" type="text" name="characterName" placeholder="CHARACTER NAME" />
        <input type="hidden" name="race" value="human" />
    </div>
    -->
    <!--
    <div>
        <label>Race</label>
        <!-- TODO: proper, dynamic list of races. --\>
        <label for="race-human">Human</label><input id="race-human" type="radio" name="race" value="human" checked />
    </div>
    -->
    <div id="movementSetup">
        <legend>Movement Speed</legend>
    </div>
    <div class="ctrl-colourOption ctrl-radioBoxButton">
        <legend>Colour</legend>
        <input type="radio" id="red" value="FF0000" name="colour" checked />
        <label for="red" class="colour red">&nbsp;</label>

        <input type="radio" id="green" value="00FF00" name="colour" />
        <label for="green" class="colour green">&nbsp;</label>

        <input type="radio" id="blue" value="0000FF" name="colour" />
        <label for="blue" class="colour blue">&nbsp;</label>

        <input type="radio" id="black" value="000000" name="colour" />
        <label for="black" class="colour black">&nbsp;</label>

        <input type="radio" id="cyan" value="00FFFF" name="colour" />
        <label for="cyan" class="colour cyan">&nbsp;</label>

        <input type="radio" id="magenta" value="FF00FF" name="colour" />
        <label for="magenta" class="colour magenta">&nbsp;</label>

        <input type="radio" id="yellow" value="FFFF00" name="colour" />
        <label for="yellow" class="colour yellow">&nbsp;</label>
        <input class="ctrl-textBox" type="text" name="colour" placeholder="CUSTOM" />
    </div>
    <button class="ctrl-thickButton" name="start" data-player_type="player" disabled>GO</button>
</fieldset>
<fieldset class="form">
    <legend>OR spectate</legend>
    <button class="ctrl-thickButton" name="start" data-player_type="spectator">GO</button>
</fieldset>
<script type="application/javascript">
function indexScript(mobList) {
    var onClickStart, onMessageReceived, onChangeInput, hideDmButton, renderMovement, U;
    U = MovementTracker.utils;

    document.body.setAttribute("data-state", "lobby");

    /**
     * Hides the DM button when one has been set.
     */
    hideDmButton = function() {
        if (!mainEl) { return false;}
        el = mainEl.querySelector("#dmOptions > [name='start']");
        el.classList.add("hidden");

        el.parentNode.querySelector("div.hidden")
        .classList.remove("hidden");
        window.socket.removeEventListener("message", onMessageReceived);
        return true;
    };

    /**
     * Renders each control for movement/speed type.
     */
    renderMovement = function() {
        var k, el, template, value, base;
        el = document.getElementById("movementSetup");
        template = document.getElementById("template-movementType").innerHTML;
        // TODO: Races
        base = MovementTracker.RACIAL_TRAITS["human"].walk;
        for (k in MovementTracker.MOVEMENT_TYPES) {
            if (!MovementTracker.MOVEMENT_TYPES.hasOwnProperty(k)) {
                continue;
            }

            value = MovementTracker.MOVEMENT_TYPES[k].factor * base;
            el.insertAdjacentHTML("beforeend",
                template
                    .replace("{display}", MovementTracker.MOVEMENT_TYPES[k].text)
                    .replace("{value}", value)
                    .replace("{type}", k)
            );
        }
    };

    sendHttpRequest("session", "GET")
    .then(function(result) {
        var data;
        renderMovement();

        data = JSON.parse(result.responseText);
        if (data.is_dm_set) {
            U.wait(hideDmButton);
        }
    })
    .catch(function() {
        renderMovement();
    });

    /**
     * Enables start buttons as criteria are met
     */
    onChangeInput = function(event) {
        var dmButton, playerButton;
        dmButton = mainEl.querySelector("[name='start'][data-player_type='dm']");
        playerButton = mainEl.querySelector("[name='start'][data-player_type='player']");
        if (mainEl.querySelector("[name='characterName']").value) {
             dmButton.removeAttribute("disabled");
             dmButton.disabled = false;
             playerButton.removeAttribute("disabled");
             playerButton.disabled = false;
        } else {
            dmButton.disabled = true;
            playerButton.disabled = true;
        }
    };

    /**
     * Calls server to set up a session and a player.
     */
    onClickStart = function(event) {
        var body, result, k;
        body = {
            player_name : mainEl.querySelector("[name='characterName']").value,
            player_type : event.currentTarget.getAttribute("data-player_type")
        };

        if (body.player_type === "player") {
            body.character_name = mainEl.querySelector("[name='characterName']").value;
            body.colour = mainEl.querySelector("[name='colour'][type='text']").value ||
                mainEl.querySelector("input[name='colour']:checked").value;
            body.colour = body.colour.replace("#", "");
            body.speed = {};
            for (k in MovementTracker.MOVEMENT_TYPES) {
                if (!MovementTracker.MOVEMENT_TYPES.hasOwnProperty(k)) {
                    continue;
                }
                body.speed[k] = parseInt(mainEl.querySelector("[name='" + k + "']").value);
            }
        }

        // Create the session if needed, then upload the new player.
        if (window.sessionId) {
            result = runAsync([
                sendHttpRequest("session/" + window.sessionId + "/player", "PUT", body),
                mobList.refreshList()
            ]);
        } else {
            result = sendHttpRequest("session", "POST", {})
            .then(function(result) {
                var data = JSON.parse(result.responseText || null);
                window.sessionId = data.session_id;
                return runAsync([
                    sendHttpRequest("session/" + window.sessionId + "/player", "PUT", body),
                    mobList.refreshList()
                ]);
            });
        }

        result.then(function(result) {
            var result = JSON.parse(result[0].responseText);
            window.playerId = result.player_id.toString();
            switch(body.player_type) {
                case "dm":
                    document.body.setAttribute("data-isDm", "isDm");
                    return replaceBody("play");
                case "player":
                    return replaceBody("ready");
                default:
                    return replaceBody("play");
            }
        })
        .catch(function() {
            delete window.sessionId;
            console.error();
        });
    };

    /**
     * Prevents more than one DM from signing up.
     */
    onMessageReceived = function(event) {
        var data, el;
        data = JSON.parse(event.data);
        if (data["dm_add"]) {
            hideDmButton();
        }
    };

    U.wait(function() {
        var buttons, inputs, i;
        if (mainEl) {
            inputs = mainEl.querySelectorAll("input");
            for (i = 0; i < inputs.length; i++) {
                onEvent(inputs[i], "change", onChangeInput);
            }

            buttons = document.querySelectorAll("button[name='start']");
            for (i = 0; i < buttons.length; i++) {
                onEvent(buttons[i], "click", onClickStart);
            }
            onEvent(window.socket, "message", onMessageReceived);
            return true;
        }
        return false;
    });
};
function start() {
    window.MovementTracker.utils.wait (function() {
        if (window.coreReady) {
            loadExternalScript("mobList", "public/mobList.js").then(indexScript);
            return true;
        }
        return false;
    });
}
if (window.MovementTracker && window.MovementTracker.utils) {
    start();
} else {
    document.addEventListener('DOMContentLoaded', start);
}
</script>