<h1>Welcome</h1>
<input class="ctrl-textBox" type="text" name="playerName" placeholder="ENTER YOUR NAME" />
<fieldset class="form" id="dmOptions">
    <legend>DM the game</legend>
    <div class="hidden">DM Already Set</div>
    <button class="ctrl-thickButton" name="start" data-player_type="dm" disabled>GO</button>
</fieldset>
<fieldset class="form" id="playerOptions">
    <legend>OR set up your character</legend>
    <div>
        <input class="ctrl-textBox" type="text" name="characterName" placeholder="CHARACTER NAME" />
        <input type="hidden" name="race" value="human" />
    </div>
    <!--
    <div>
        <label>Race</label>
        <!-- TODO: proper, dynamic list of races. --\>
        <label for="race-human">Human</label><input id="race-human" type="radio" name="race" value="human" checked />
    </div>
    -->
    <div>
        <legend>Movement Speed</legend>
        <div class="ctrl-labelledNumber">
            <input type="number" name="walk" value="30" />
            <label>WALK</label>
        </div>
        <div class="ctrl-labelledNumber">
            <input type="number" name="swim" value="15" />
            <label>SWIM</label>
        </div>
        <div class="ctrl-labelledNumber">
            <input type="number" name="climb" value="15" />
            <label>CLIMB</label>
        </div>
        <div class="ctrl-labelledNumber">
            <input type="number" name="fly" value="0" />
            <label>FLY</label>
        </div>
        <div class="ctrl-labelledNumber">
            <input type="number" name="burrow" value="0" />
            <label>DIG</label>
        </div>
    </div>
    <div class="ctrl-colourOption">
        <legend>Colour</legend>
        <input type="radio" id="red" value="FF0000" name="colour" checked />
        <label for="red">&nbsp;</label>

        <input type="radio" id="green" value="00FF00" name="colour" />
        <label for="green">&nbsp;</label>

        <input type="radio" id="blue" value="0000FF" name="colour" />
        <label for="blue">&nbsp;</label>

        <input type="radio" id="black" value="000000" name="colour" />
        <label for="black">&nbsp;</label>

        <input type="radio" id="cyan" value="00FFFF" name="colour" />
        <label for="cyan">&nbsp;</label>

        <input type="radio" id="magenta" value="FF00FF" name="colour" />
        <label for="magenta">&nbsp;</label>

        <input type="radio" id="yellow" value="FFFF00" name="colour" />
        <label for="yellow">&nbsp;</label>
        <input class="ctrl-textBox" type="text" name="colour" placeholder="CUSTOM" />
    </div>
    <button class="ctrl-thickButton" name="start" data-player_type="player" disabled>GO</button>
</fieldset>
<fieldset class="form">
    <legend>OR spectate</legend>
    <button class="ctrl-thickButton" name="start" data-player_type="spectator">GO</button>
</fieldset>
<script type="application/javascript">
(function indexScript() {
    var onClickStart, onMessageReceived, onChangeInput, hideDmButton;

    document.body.setAttribute("data-state", "lobby");

    hideDmButton = function() {
        if (!mainEl) { return false;}
        el = mainEl.querySelector("#dmOptions > [name='start']");
        el.classList.add("hidden");

        el.parentNode.querySelector("div.hidden")
        .classList.remove("hidden");
        window.socket.removeEventListener("message", onMessageReceived);
        return true;
    };

    sendHttpRequest("session", "GET")
    .then(function(result) {
        var data = JSON.parse(result.responseText);
        if (data.is_dm_set) {
            wait(hideDmButton);
        }
    });

    /**
     * Enables start buttons as criteria are met
     */
    onChangeInput = function(event) {
        var dmButton, playerButton;
        dmButton = mainEl.querySelector("[name='start'][data-player_type='dm']");
        playerButton = mainEl.querySelector("[name='start'][data-player_type='player']");
        if (mainEl.querySelector("[name='playerName']").value) {
             dmButton.removeAttribute("disabled");
             dmButton.disabled = false;

             playerButton.removeAttribute("disabled");
             playerButton.disabled = !(document.querySelector("input[name='characterName']").value);
        } else {
            dmButton.disabled = true;
            playerButton.disabled = true;
        }
    };

    /**
     * Calls server to set up a session and a player.
     */
    onClickStart = function(event) {
        var body, result;
        body = {
            player_name : mainEl.querySelector("[name='playerName']").value,
            player_type : event.currentTarget.getAttribute("data-player_type")
        };

        if (body.player_type === "player") {
            body.character_name = mainEl.querySelector("[name='characterName']").value;
            body.colour = mainEl.querySelector("[name='colour'][type='text']").value ||
                mainEl.querySelector("input[name='colour']:checked").value;
            body.colour = body.colour.replace("#", "");
            body.speed = {
                walk : parseInt(mainEl.querySelector("[name='walk']").value),
                swim : parseInt(mainEl.querySelector("[name='swim']").value),
                fly: parseInt(mainEl.querySelector("[name='fly']").value),
                climb: parseInt(mainEl.querySelector("[name='climb']").value),
                burrow: parseInt(mainEl.querySelector("[name='burrow']").value)
            };
        }

        // Create the session if needed, then upload the new player.
        if (window.sessionId) {
            result = runAsync([
                sendHttpRequest("session/" + window.sessionId + "/player", "PUT", body),
                initiativeContext.refreshList()
            ]);
        } else {
            result = sendHttpRequest("session", "POST", {})
            .then(function(result) {
                var data = JSON.parse(result.responseText || null);
                window.sessionId = data.session_id;
                return runAsync([
                    sendHttpRequest("session/" + window.sessionId + "/player", "PUT", body),
                    initiativeContext.refreshList()
                ]);
            });
        }

        result.then(function(result) {
            var result = JSON.parse(result[0].responseText);
            window.playerId = result.player_id.toString();
            switch(body.player_type) {
                case "dm":
                    document.body.setAttribute("data-isDm", "isDm");
                    return replaceBody("play");
                case "player":
                    return replaceBody("ready");
                default:
                    return replaceBody("play");
            }
        })
        .catch(function() {
            delete window.sessionId;
            console.error();
        });
    };

    /**
     * Prevents more than one DM from signing up.
     */
    onMessageReceived = function(event) {
        var data, el;
        data = JSON.parse(event.data);
        if (data["dm_add"]) {
            hideDmButton();
        }
    };

    wait(function() {
        var buttons, inputs, i;
        if (mainEl) {
            inputs = mainEl.querySelectorAll("input");
            for (i = 0; i < inputs.length; i++) {
                onEvent(inputs[i], "change", onChangeInput);
            }

            buttons = document.querySelectorAll("button[name='start']");
            for (i = 0; i < buttons.length; i++) {
                onEvent(buttons[i], "click", onClickStart);
            }
            onEvent(window.socket, "message", onMessageReceived);
            return true;
        }
        return false;
    });
})();
</script>