<h2 class="heading">Waiting for DM</h2>
<ol class="initiativeList"></ol>
<script id="template-initiativeListItem" type="text/html">
<li
    class="mob"
    data-id=""
    data-mobType=""
    data-reacted
>
    <span class="initiativeScore"></span>
    <span class="mobName"></span>
    <button class="ctrl-control" name="react">&#x26A0;</button
    ><button class="ctrl-control" name="position">@</button
    ><button class="ctrl-control" name="setTurn">></button
    ><button class="ctrl-control" name="toggleMob">x</button>
</li>
</script>
<script type="application/javascript">
MovementTracker.utils.wait(function() {
    if (window.coreReady) {
        loadExternalScript("mobList", "public/mobList.js");
        return true;
    }
    return false;
})
</script>