<section>
    <h2>Ready Players</h2>
    <div>Waiting for DM</div>
    <ol class="initiativeList"></ol>
</section>
<script id="template-initiativeListItem" type="text/html">
<li data-id="" data-mobType="">
    <span class="initiativeScore"></span>
    <span class="mobName"></span>
    <span class="usedReaction">No</span>
    <button name="position">loc</span>
    <button name="react">react</button>
    <button name="toggleMob">x</button>
</li>
</script>
<script type="application/javascript">
window.initiativeContext = {};
(function socialScript() {
    var onReceiveMessage, onClose, bindInputEvents,
        addPlayer, removePlayer, addDM, removeDM,
        template, _listEl, _subscribers, _events;
        
    _listEl = document.querySelector("#social ol.initiativeList");
    _subscribers = {};
    _events = [];

    template = document.querySelector("#template-initiativeListItem").innerHTML;        
    
    /**
     * Cleans up bound events.
     */
    onClose = function() {
        window.socket.removeEventListener("message", onReceiveMessage);
        _subscribers = {};
        
        for (i = 0; i < _events.length; i++) {
            _events[i]();
        }
        _events = [];
    };
    
    /**
     * Ensures click etc events will fire for each item in the list.
     * @param {HTMLElement} The list item with buttons to bind.
     */
     bindInputEvents = function(li) {
         var buttons, handler;
         buttons = li.querySelectorAll("button");
         handler = fireEvent.bind({}, li);
         for (i = 0; i < buttons.length; i++) {
             buttons[i].addEventListener("click", handler);
             _events.push(buttons[i].removeEventListener.bind(buttons[i], "click", handler));
         }
     };
     
     /**
      * Calls subscribing callbacks.
      * @param {HTMLElement} li parentNode of the clicked element.
      * @param {DOMElement} event that occured.
      */
     fireEvent = function(li, event) {
         var name, data, i;
         name = event.currentTarget.getAttribute("name");
         if (_subscribers[name] && _subscribers[name].length) {
            data = {};
            data.id = li.getAttribute("data-id");
            data.size = li.getAttribute("data-size");
            data.mob_type = li.getAttribute("data-mobtype");
            data.colour = li.style.color;
            data.character_name = li.querySelector(".mobName").innerHTML;
            
            for (i = 0; i < _subscribers[name].length; i++) {
                _subscribers[name][i](data);
            }
         }
     };

    /**
     * Handles messages received through the web socket.
     * @param {object} event that occured.
     */
    onReceiveMessage = function(event) {
        var data, el;
        data = JSON.parse(event.data);
        if (data["player_add"]) {
            addPlayer(data["player_add"]);    
        }
        if (data["player_remove"]) {
            removePlayer(data["player_remove"]);
        }
        if (data["dm_add"]) {
            addDM(data["dm_add"]); 
        }
        if (data["dm_remove"]) {
            removeDM();
        }
        if (data["session_id"]) {
            refreshList();
        }
        
    };
    
    addDM = function(data) {
        var el = document.querySelector("#social > section > div");
        el.innerHTML = "DM is " + data.player_name;
    };
    
    removeDM = function(data) {
        var el = document.querySelector("#social > section > div");
        el.innerHTML = "Waiting for DM";     
    };
    
    removePlayer = function(data) {
        var li, id;
        id = isNaN(data.player_id) ? data.id : data.player_id;
        if (li = _listEl.querySelector("li[data-id='" + id + "']")) {
            li.parentElement.removeChild(li);
        }
    };
    
    removeAll = function() {
        while (_listEl.firstChild) {
            _listEl.removeChild(_listEl.firstChild);
        }
    };
    
    addPlayer = function(data) {
        var list, li;
        if (!isNaN(data.player_id)) {
            data.id = data.player_id
        }
        // Don't add same player more than once.
        if (li = _listEl.querySelector("li[data-id='" + data.id + "']")) {
            return;
        }

        _listEl.insertAdjacentHTML("beforeend", template);
        li = _listEl.lastElementChild;
        li.style.color = "#" + data.colour;
        li.setAttribute("data-id", data.id);
        li.setAttribute("data-mobType", isNaN(data.player_id) ? "npc" : "pc");
        li.setAttribute("data-size", data.size);
        li.querySelector(".mobName").innerHTML = data.character_name;
        li.querySelector(".initiativeScore").innerHTML = data.initiative;
        
        bindInputEvents(li);
    };

    /**
     * Clears the list of names and gets a fresh list from the server.
     */
    refreshList = function() {
        return sendHttpRequest("session/" + window.sessionId + "/players", "GET", null, { isPersistent : true })
        .then(function(result){
            var i, players;
            result = JSON.parse(result.responseText);
            if (!result || !result.players) {
                throw "No players";
            }
        
            players = result.players;
            for (i = 0; i < players.length; i++) {
                switch (players[i].player_type) {
                    case "dm": addDM(players[i]); break;
                    case "player": addPlayer(players[i]); break;
                    default: break;
                }
            }
        })
        .catch(function(err) {
            console.error(JSON.stringify(err));
        });
    };
    if(window.sessionId) {
        refreshList();
    }
    
    window.socket.addEventListener("message", onReceiveMessage);
    window.initiativeContext.addMob = addPlayer;
    window.initiativeContext.removeMob = removePlayer;

    /**
     * Subscribes to an event triggered by some operation or interation on the list.
     * @param {string} event The name of the event.
     * @param {function} handler The callback.
     */
    window.initiativeContext.onListEvent = function(event, handler) {
        if (!_subscribers[event]) {
            _subscribers[event] = [];
        }
        
        _subscribers[event].push(handler);
    };
    
    /**
     * Removes a handler from the list of subscribers.
     * @param {string} event to unsubsribe from.
     * @param {function} handler to remove.
     */
    window.initiativeContext.offListEvent = function(event, handler) {
        var i;
        if (!_subscribers[event]) {
            return;
        }
        
        if((i = _subscribers[event].indexOf(handler)) >= 0) {
            _subscribers[event].splice(i, 1);
        }
    };
})();

</script>

