.hidden { display: none; }
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/** Main Layout **/
body {
    display: table;
    width: 100%;
}
    body > * {
        display : table-cell;
    }
    body > article {}
    body > aside {
        width: 30%;
    }
    
    body > aside > * {
        display: table-row;
        height: 300px;
    }
    
    body > aside > * > section {
        display: table-cell;
        padding-left: 10px;
        padding-right: 10px;
    }



ol.initiativeList {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
}

    body[data-state='lobby'] ol.initiativeList > li {}
        body[data-state='lobby'] ol.initiativeList > li > .initiativeScore { display: none; }
        body[data-state='lobby'] ol.initiativeList > li > .usedReaction { display: none; } 
        body[data-state='lobby'] ol.initiativeList > li > [name='react'] { display: none; } 
        body[data-state='lobby'] ol.initiativeList > li > [name='position'] { display: none; }
        body[data-state='lobby'] ol.initiativeList > li > [name='toggleMob'] { display: none; }
        
    body[data-state='setup'] ol.initiativeList > li {}
        body[data-state='setup'] ol.initiativeList > li > .initiativeScore { display: none; }
        body[data-state='setup'] ol.initiativeList > li > .usedReaction { display: none; } 
        body[data-state='setup'] ol.initiativeList > li > [name='react'] { display: none; } 
        body[data-state='setup'] ol.initiativeList > li > [name='position'] { display: inline-block; }
        body[data-state='setup'] ol.initiativeList > li > [name='toggleMob'] { display: inline-block; }
        
    body[data-state="combat"] ol.initiativeList > li {}
        body[data-state="combat"] ol.initiativeList > li > .initiativeScore { display: inline; }
        body[data-state="combat"] ol.initiativeList > li > .usedReaction { display: inline-block; } 
        body[data-state="combat"] ol.initiativeList > li[data-is_my_pc] > [name='react'] { 
            display: inline-block; 
        } 
        body[data-state="combat"] ol.initiativeList > li > [name='position'] { display: inline-block; }
        body[data-state="combat"] ol.initiativeList > li > [name='toggleMob'] { display: inline-block; }
        
    
td.ctrl-combatCell {
    padding: 0;
    position: relative;
}

    td.ctrl-combatCell > button:first-child {
        height: 100%;
        width: 100%;
        border-width: 0;
        background-color: inherit;
    }

    td.ctrl-combatCell > button:first-child:focus,
    td.ctrl-combatCell > button:first-child:active {
        background-color: rgba(0,0,0,0.2);
    }
    td.ctrl-combatCell > button:first-child:hover {
        background-color: rgba(0,0,0,0.1);    
    }
    
    td.ctrl-combatCell > button + button {
        position: absolute;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }        

table.ctrl-combatMap {
    table-layout: fixed;
    border: solid 1px #000;
    border-width: 0 1px 1px 0;
    border-spacing: 0;    
}
    table.ctrl-combatMap th,
    table.ctrl-combatMap td {
        width:25px;
        height: 25px;
        vertical-align: middle;
        text-align: center;
        border-width: 1px 0 0 1px;                    
        border-color: black;
    }
    
    table.ctrl-combatMap th {
        border-style: solid;

    }
    table.ctrl-combatMap th[scope='column'] {
        border-bottom-width: 0;
    }
    table.ctrl-combatMap th[scope='row'] {
        border-right-width: 0;
    }

    table.ctrl-combatMap td {
        border-style: dotted;
    }
    
    table.ctrl-combatMap td:first-of-type {
        border-left-style: solid;
    }
    
    table.ctrl-combatMap tr:nth-child(2) > td{
        border-top-style: solid;
    }

ul.ctrl-colourOption {
    padding-left: 0;
    list-style-type: none;
}


.ctrl-colourOption > input[type='radio'] {
    display: none;
}

    .ctrl-colourOption > label {
        display: inline-block;
    }

    .ctrl-colourOption > label:first-child {
        vertical-align: top;
        line-height: 50px;
    }

    .ctrl-colourOption > input + label {
        width: 50px;
        height: 50px;
        border: 1px solid black;
    }

        .ctrl-colourOption > input:checked + label {
            border: 3px  solid gray;
        }

        .ctrl-colourOption > input[value='FF0000'] + label { 
            background-color: #FF0000;
        }
        .ctrl-colourOption > input[value='00FF00'] + label { 
            background-color: #00FF00;
        }
        .ctrl-colourOption > input[value='0000FF'] + label { 
            background-color: #0000FF;
        }
        .ctrl-colourOption > input[value='000000'] + label {  
            background-color: #000000;
        }
        .ctrl-colourOption > input[value='00FFFF'] + label {  
            background-color: #00FFFF;
        }
        .ctrl-colourOption > input[value='FF00FF'] + label { 
            background-color: #FF00FF;
        }
        .ctrl-colourOption > input[value='FFFF00'] + label {  
            background-color: #FFFF00;
        }

